.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #ffc107;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
}

.search-bar-select {
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
}

.search-bar-select:focus {
    outline: none;
}

.search-bar-input {
    flex: 1;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-button, .delete-button {
    background: transparent;
    border: none;
    padding: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
}

.delete-button:hover {
    color: #ffc107;
}
.search-bar-button:hover {
    color: #000;
}
